@model List<Infrastructure.Products.ProductViewModel>

@foreach (var item in Model)
{
    <tr class="text-center">

        <td> @item.Name</td>
        <td> @item.CategoryName</td>
        <td> @item.Price</td>
        <td> @item.DiscountPrice</td>
        <td> @item.Quantity</td>

        <td class="text-center">

            <a class="btn default btn-xs purple" href="/" title="Update"> <span class="glyphicon glyphicon-edit"></span></a>

            <a class="btn default btn-xs green" href="/" title="Watch Images"><span class="glyphicon glyphicon-list-alt"></span></a>

            <a class="btn default btn-xs red" href="/" title="Delete">  <span class="glyphicon glyphicon-trash"></span></a>

        </td>
       
    </tr>
}
